/*Color Template*/
body {
    background-image: $body-bg-color;
}

.color-primary{
    color: $color-primary;
}

.color-primary-bg {
    background: $color-primary;
}

.color-second {
    background: $color-second;
}

.color-second-bg {
    background: $color-second;
}