$font-anton: 'Anton', 'sans-serif';
$font-poppins: 'Poppins', 'sans-serif';
$color-primary: black;
$color-second: purple;
$color-blue: skyblue;
$body-bg-color: linear-gradient(black, black, #0D0C0F, #0D0C0F, #371665, #8485B3);

